*{
    font-family: poppins, sans-serif !important;
}

.color{
    color: #700aa3 !important;
}

.article{
    text-decoration: none;
}

.article-title{
    color: #121c42;
    font-weight: 500;
}

.article-price{
    color: rgba(0, 0, 0, 0.5);
}

.info{
    opacity: 0.7;
}

.btn-default{

    background: #9200dd !important;
    color: white;
    margin-left: 15px;

}

.btn-default:hover{
    background: #4a076c !important;
    transition: linear all 0.2s;
    color: white;
}

.card-default{

    height: 400px !important;
    margin-bottom: 15px !important;
}

.img-h{
    height: 200px !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.card-article-price{
    position: absolute;
    left: 20px;
    bottom: 20px !important;
}

.bg-default{
    background: white;
    position: fixed !important;
    top: 0 !important;
    width: 100vw !important;
    z-index: 200 !important;
    padding: 10px 20px !important;
}

.m-default{
    margin-top: 70px !important;
}

.login-cont{
    margin: auto;
    background: "files/icons/login.png" !important;
    background-position: left;
}

.login{
    width: 400px !important;
    max-width: 400px !important;
    margin: auto !important;
}

.oc-shadow{
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px,
    rgb(0 0 0 / 12%) 0px 1px 3px 0px !important;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
}

.oc-elevation-0{
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 1px -2px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px,
    rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    ;
}

.oc-elevation-1{
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px,
    rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}

.oc-card-shadow{
     background-color: rgb(255, 255, 255);
     color: rgba(0, 0, 0, 0.92);
     transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
     border-radius: 4px;
     box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
     rgb(0 0 0 / 14%) 0px 1px 1px 0px,
     rgb(0 0 0 / 12%) 0px 1px 3px 0px;
     overflow: hidden;
}

.oc-card-shadow:hover{
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 5px -3px,
    rgb(0 0 0 / 14%) 0px 8px 10px 1px,
    rgb(0 0 0 / 12%) 0px 3px 14px 2px;
}

.icon-default{
    width: 40px !important;
    height: 40px !important;
    border-radius:50% !important;
    opacity: 0.6;
    transition: all linear 0.3s;
    background: #ddd;
    border: solid 2px #4a076c;
}

.icon-default:hover,
.icon-simple:hover {
    opacity: 1;
    transition: opacity linear 0.2s;
}

.icon-default .icon {
    width: 100%;
    height: 100%;
}

.icon-simple .icon {
    width: 100%;
    height: 100%;
}

.icon-simple{
    opacity: 0.6;
    transition: all linear 0.3s;
    width: 40px !important;
    height: 40px !important;
}

.size-minus{
 width: 30px !important;
 height: 30px !important;
 opacity: 0.8;
}

.second-menu{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    gap: 15px;
}

.second-menu a{
    box-sizing: border-box;
}